.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons .button {
  margin: 0 10px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}

.flex-center, .rating .star, .button, .button .text, .button.icon-button .icon, .image-carousel .carousel-info .carousel-buttons .carousel-button, .image-carousel .carousel-info .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between, .anime-descriptor .description, .flex-2-grid-container .grid-left .grid-top .anime-container .description, .flex-images-wide .item .description, .flex-2-grid-container .grid-right .grid-top .flex-header, .image-carousel .carousel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colored.yellow {
  color: #fbc94a;
}

.ratings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.rating {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating .star {
  margin-right: 5px;
}

.rating .star svg, .rating .star path {
  width: 18px;
  height: auto;
}

.anime-descriptor, .flex-2-grid-container .grid-left .grid-top .anime-container, .flex-images-wide .item {
  position: relative;
}

.anime-descriptor .background-img, .flex-2-grid-container .grid-left .grid-top .anime-container .background-img, .flex-images-wide .item .background-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.anime-descriptor .description, .flex-2-grid-container .grid-left .grid-top .anime-container .description, .flex-images-wide .item .description {
  position: absolute;
  bottom: 8%;
  left: 5%;
  width: calc( 100% - 10%);
}

.anime-descriptor .description .left p, .flex-2-grid-container .grid-left .grid-top .anime-container .description .left p, .flex-images-wide .item .description .left p {
  color: #fff;
  font-size: 24px;
}

.anime-descriptor .description .left span, .flex-2-grid-container .grid-left .grid-top .anime-container .description .left span, .flex-images-wide .item .description .left span {
  color: #747474;
  font-size: 13px;
}

.anime-descriptor .description .right, .flex-2-grid-container .grid-left .grid-top .anime-container .description .right, .flex-images-wide .item .description .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}

@-webkit-keyframes expand {
  0% {
    width: 18px;
  }
  100% {
    width: 130px;
  }
}

@keyframes expand {
  0% {
    width: 18px;
  }
  100% {
    width: 130px;
  }
}

@-webkit-keyframes unexpand {
  0% {
    width: 130px;
  }
  100% {
    width: 18px;
  }
}

@keyframes unexpand {
  0% {
    width: 130px;
  }
  100% {
    width: 18px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@font-face {
  font-family: Outfit;
  src: url("../../fonts/Outfit-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f0f2f5;
}

.App-body .normal-contents {
  margin-top: 100px;
}

.home-big-container {
  width: 100%;
  height: 900px;
  background: #1a1a1a;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 925px) {
  .home-big-container {
    height: 650px;
  }
}

.carousel-image-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-image-content .carousel-image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position-y: 8%;
  background-position-x: center;
  background-size: 150%;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
}

.carousel-image-content .carousel-image-bg.fade {
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}

.carousel-image-content .carousel-image-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.7)), color-stop(32%, rgba(0, 0, 0, 0.344975)), color-stop(39%, rgba(0, 0, 0, 0.0368522)), color-stop(53%, rgba(0, 0, 0, 0.1573)), color-stop(57%, rgba(0, 0, 0, 0.34)), color-stop(80%, rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.344975) 32%, rgba(0, 0, 0, 0.0368522) 39%, rgba(0, 0, 0, 0.1573) 53%, rgba(0, 0, 0, 0.34) 57%, rgba(0, 0, 0, 0.7) 80%);
}

.carousel-image-content .carousel-main-content {
  width: 100%;
  height: 100%;
  z-index: 5 !important;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.carousel-image-content .carousel-main-content .text-container {
  width: 600px;
}

.carousel-image-content .carousel-main-content .text-container .headline h1 {
  font-size: 70px;
  color: #fff;
}

.carousel-image-content .carousel-main-content .description {
  padding: 20px 0;
}

.carousel-image-content .carousel-main-content .description p {
  color: #fff;
  font-weight: 400 !important;
  font-size: 15px;
}

@media screen and (max-width: 925px) {
  .carousel-image-content .carousel-main-content .text-container {
    width: 100%;
    text-align: center;
  }
  .carousel-image-content .carousel-main-content .text-container .headline {
    text-align: center;
  }
  .carousel-image-content .carousel-main-content .text-container .headline h1 {
    font-size: 60px;
  }
  .carousel-image-content .carousel-main-content .text-container .ratings-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel-image-content .carousel-main-content .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .carousel-image-content .carousel-main-content text-container {
    width: 100%;
    text-align: center;
  }
  .carousel-image-content .carousel-main-content text-container .headline h1 {
    font-size: 54px;
  }
}

a {
  text-decoration: none;
  color: #050505;
}

.nav-link {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
}

.nav-link a {
  color: #fff;
  font-weight: 400;
}

.button {
  padding: 8px 30px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer !important;
}

.button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.button.filled {
  background: #106580;
}

.button.filled .text span {
  font-size: 16px;
  color: #fff;
}

.button.bordered {
  background: transparent;
  border: 1px solid #fff;
}

.button.bordered .text span {
  font-size: 16px;
  color: #fff;
}

.button.icon-button {
  padding: 0 0 !important;
  width: 50px;
  height: 40px;
  min-width: 50px;
  min-height: 40px;
}

.button.icon-button .icon svg, .button.icon-button .icon path {
  width: 24px;
  fill: #fff;
}

nav.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

@media screen and (max-width: 925px) {
  nav.main-navbar .nav-contents .nav-right .hamburger-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    padding: 150px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container.show {
    display: block !important;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container .right-contents {
    z-index: 10;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container .right-contents, nav.main-navbar .nav-contents .nav-right .nav-left-container .links, nav.main-navbar .nav-contents .nav-right .nav-left-container .buttons {
    display: block !important;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container .right-contents .links .nav-link, nav.main-navbar .nav-contents .nav-right .nav-left-container .links .links .nav-link, nav.main-navbar .nav-contents .nav-right .nav-left-container .buttons .links .nav-link {
    margin: 20px 0;
  }
  nav.main-navbar .nav-contents .nav-right .nav-left-container .right-contents .buttons .button, nav.main-navbar .nav-contents .nav-right .nav-left-container .links .buttons .button, nav.main-navbar .nav-contents .nav-right .nav-left-container .buttons .buttons .button {
    margin: 20px 0;
  }
}

nav.main-navbar.large {
  height: 170px !important;
  background: transparent;
}

nav.main-navbar.large .nav-contents {
  padding: 5% 5%;
}

nav.main-navbar .nav-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5%;
}

nav.main-navbar .nav-contents .nav-left .left-contents .brand-name h1 {
  color: #fff;
}

nav.main-navbar .nav-contents .nav-right .nav-right-bg {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
  display: none;
}

@media screen and (max-width: 925px) {
  nav.main-navbar .nav-contents .nav-right .nav-right-bg.show {
    display: block !important;
  }
}

nav.main-navbar .nav-contents .nav-right .right-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.main-navbar .nav-contents .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

nav.main-navbar .nav-contents .hamburger-container .hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer !important;
}

nav.main-navbar .nav-contents .hamburger-container .hamburger svg, nav.main-navbar .nav-contents .hamburger-container .hamburger path {
  width: 100%;
  height: auto;
  fill: #fff;
}

.flex-2-grid-container {
  min-height: 500px;
  margin-right: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0.6fr;
      grid-template-columns: 0.4fr 0.6fr;
}

@media screen and (max-width: 925px) {
  .flex-2-grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.flex-2-grid-container .grid-left .grid-top .anime-container {
  width: 100%;
  height: 500px;
  border-radius: 25px;
}

.flex-2-grid-container .grid-left .grid-top .anime-container .background-img {
  background-position: center;
  background-size: 180%;
}

.flex-2-grid-container .grid-left .grid-top .anime-container .background-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.7)), color-stop(32%, rgba(0, 0, 0, 0.344975)), color-stop(39%, rgba(0, 0, 0, 0.0368522)), color-stop(53%, rgba(0, 0, 0, 0.1573)), color-stop(57%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.344975) 32%, rgba(0, 0, 0, 0.0368522) 39%, rgba(0, 0, 0, 0.1573) 53%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 80%);
}

.flex-2-grid-container .grid-left .grid-bot {
  padding: 20px 0;
}

.flex-2-grid-container .grid-left .grid-bot .description p {
  font-size: 18px;
  font-weight: 600;
  color: #747474;
}

.flex-2-grid-container .grid-right {
  padding: 0px 20px;
}

.flex-2-grid-container .grid-right .grid-top {
  padding: 10px;
}

.flex-2-grid-container .grid-right .grid-top .flex-header p {
  color: #fff;
  font-size: 24px;
}

.flex-2-grid-container .grid-right .grid-bot .grid-item {
  display: -ms-grid;
  display: grid;
  margin: 20px 0;
      grid-template-areas: "image desc";
}

@media screen and (max-width: 925px) {
  .flex-2-grid-container .grid-right .grid-bot .grid-item {
        grid-template-areas: "desc" "image";
  }
  .flex-2-grid-container .grid-right .grid-bot .grid-item .image {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
    width: 100% !important;
    height: 300px !important;
  }
  .flex-2-grid-container .grid-right .grid-bot .grid-item .description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: desc;
  }
}

.flex-2-grid-container .grid-right .grid-bot .grid-item .image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  min-width: 410px;
  width: 410px;
  height: 240px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flex-2-grid-container .grid-right .grid-bot .grid-item .description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-2-grid-container .grid-right .grid-bot .grid-item .description p.title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.flex-2-grid-container .grid-right .grid-bot .grid-item .description p.desc {
  color: #747474;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}

.flex-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  background: #1a1a1a;
}

.flex-container .container-top {
  padding: 20px;
}

.flex-container .container-top h1 {
  color: #fff;
}

.flex-images-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.flex-images-wide .item {
  min-width: 520px;
  width: 520px;
  height: 280px;
  border-radius: 25px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 925px) {
  .flex-images-wide .item {
    min-width: 450px;
    width: 450px;
    height: 200px;
  }
}

.flex-images-wide .item:hover .background-img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.flex-images-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.flex-images-square .item {
  min-width: 400px;
  width: 400px;
  height: 400px;
  border-radius: 25px;
  background: #fff;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 925px) {
  .flex-images-square .item {
    min-width: 250px;
    width: 250px;
    height: 250px;
  }
}

.flex-images-square .item .background-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
}

.image-carousel .carousel-contents, .image-carousel .carousel-content {
  width: 100%;
  height: 100%;
}

.image-carousel .carousel-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  padding: 0 4%;
  width: 100%;
  z-index: 100;
}

.image-carousel .carousel-info .carousel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-carousel .carousel-info .carousel-buttons .carousel-button {
  position: relative;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.image-carousel .carousel-info .carousel-buttons .carousel-button span {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.image-carousel .carousel-info .carousel-buttons .carousel-button.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 70%;
  height: 4px;
  border-radius: 25px;
  background: #106580;
}

.image-carousel .carousel-info .carousel-buttons .carousel-button.active a span {
  font-size: 16px;
  font-weight: 600;
}

.image-carousel .carousel-info .carousel-indicators .carousel-indicator {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background: #fff;
  margin: 2.5px;
  cursor: pointer;
}

.image-carousel .carousel-info .carousel-indicators .carousel-indicator.active {
  width: 18px;
  background: #106580;
  -webkit-animation: expand .5s forwards;
          animation: expand .5s forwards;
}

.image-carousel .carousel-info .carousel-indicators .carousel-indicator.from-active {
  -webkit-animation: unexpand .5s forwards;
          animation: unexpand .5s forwards;
}
/*# sourceMappingURL=main.css.map */